<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    
    <header>
      <% include partials/header %>
    </header>
    
    <main>
      <div id="results-box">
	<div id="select-panel" class="text-center">
	  <select id="brain-region" name="eqtl-pool">
	    <option value="hippo" label="hippo">Hippocampus</option>
	  </select>
	</div>
	<div id="button-panel" class="text-center">
	  <label class="radio-inline">
	    <input type="radio" name="search-type" value="snprsnum">SNP (rs)
	  </label>
	  <label class="radio-inline">
	    <input type="radio" name="search-type" value="ensemblid">Ensembl Gene ID
	  </label>
	  <label class="radio-inline">
	    <input type="radio" name="search-type" value="symbol">Gene Symbol
	  </label>
	</div>
	<div id="text-panel">
	  <input type="text" id="query-term"/>
	  <input type="submit" value="Submit" id="search-btn">
	</div>
	<div id="rawdata-link-panel">
	  Download:
	  <a id="cvs-link" href="">CSV</a>
	</div>
      </div>
      <div id="info-container">

	      <h3> LIBD BrainSeq Phase II RNA-seq Project </h3> 
		  
	      <p>The hippocampus formation, though prominently implicated in schizophrenia pathogenesis, has been overlooked in large-scale genomics efforts in schizophrenic brain. We performed RNA-seq in the hippocampus and dorsolateral prefrontal cortex (DLPFC) from 551 individuals (286 with schizophrenia). We identified substantial regional differences in gene expression, and found widespread developmental differences that were independent of cellular composition. We identified 48 and 245 differentially expressed genes (DEG) associated with schizophrenia within hippocampus and DLPFC, with little overlap between the brain regions. Of schizophrenia GWAS risk loci, 124/163 (76.6%) contained eQTLs in any region. Transcriptome-wide association studies in each region identified many novel schizophrenia risk features that were brain region-specific. We lastly identified potential molecular correlates of in vivo evidence of altered prefrontal-hippocampal functional coherence in schizophrenia. These results underscore the complexity and regional heterogeneity of the transcriptional correlates of schizophrenia and offer new insights into potentially causative biology.</p>
	      
	      <p>Collado-Torres L, Burke EE, Peterson A, Shin JH, Straub RE, Rajpurohit A, Semick SA, Ulrich WS, BrainSeq Consortium, Valencia C, Tao R, Deep-Soboslay A, Hyde TM, Kleinman JE, Weinberger DR, Jaffe AE. Regional heterogeneity in gene expression, regulation and coherence in hippocampus and dorsolateral prefrontal cortex across development and in schizophrenia. bioRxiv, DOI 10.1101/426213. 2018. <a href="https://www.biorxiv.org/content/early/2018/09/26/426213">Pre-print URL</a>.</p>
          
          <p>See the <a href="http://eqtl.brainseq.org/phase2/">data availability</a> page to access the raw and processed files.</p>

	      <hr/>
	      <div style="text-align: center"><i>NB: All Coordinates are in hg38</i></div>
	      
      </div>
      
    </main>
  </body>
</html>
