preprocessed_data/
degradation/*/Counts
degradation/*/HISAT2_out
degradation/*/Salmon_tx
degradation/*/merged_fastq
degradation/*/FastQC
degradation/*/Coverage
degradation/*/FASTQ
degradation/*/rpkmCounts*
degradation/*/rawCounts*
count_data/
degradation/*sum.tsv
degradation/*bed
qcChecks
caseControl/*.rda
genotype_data
.ctxt
jxns
.Rproj.user
degradation_strand*/*sum.tsv
psychENCODE
eQTL_full_GTEx/rdas
eQTL_GWAS_riskSNPs/eqtl_tables
## For Carrie's circular RNA project
genotype_data_carrie_n410
genotype_data_carrie

## Left-over files
degradation
degradation_strand_*

## Un-used analyses
eQTL_DNAm_mediation
wgcna
wgcna_combined
