preprocessed_data/
degradation/*/Counts
degradation/*/HISAT2_out
degradation/*/Salmon_tx
degradation/*/merged_fastq
degradation/*/FastQC
degradation/*/Coverage
degradation/*/FASTQ
degradation/*/rpkmCounts*
degradation/*/rawCounts*
count_data/
degradation/*sum.tsv
degradation/*bed
rdas
eqtl_tables
qcChecks
caseControl/*.rda
genotype_data
.ctxt
jxns
.Rproj.user
degradation_strand*/*sum.tsv
psychENCODE
## For Carrie's circular RNA project
genotype_data_carrie_n410
