degradation/DLPFC_polyA/rawCounts_DLPFC_polyA_degradation_hg38_n20.rda filter=lfs diff=lfs merge=lfs -text
degradation/DLPFC_polyA/rpkmCounts_DLPFC_polyA_degradation_hg38_n20.rda filter=lfs diff=lfs merge=lfs -text
degradation/DLPFC_RiboZero/rawCounts_DLPFC_riboZero_degradation_hg38_n20.rda filter=lfs diff=lfs merge=lfs -text
degradation/DLPFC_RiboZero/rpkmCounts_DLPFC_riboZero_degradation_hg38_n20.rda filter=lfs diff=lfs merge=lfs -text
degradation/Hippo_RiboZero/rawCounts_HIPPO_riboZero_degradation_hg38_n12.rda filter=lfs diff=lfs merge=lfs -text
degradation/Hippo_RiboZero/rpkmCounts_HIPPO_riboZero_degradation_hg38_n12.rda filter=lfs diff=lfs merge=lfs -text
